<!DOCTYPE html>
<html>
  <head>
    <title>My Applications</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="new-application-form" class="outline" onSubmit="return false">
      <h1>Create a new application</h1>
      <hr/>
      <label for="postion">Position</label>
      <input type="text" id="position" name="position">
      <label for="company">Company</label>
      <input type="text" id="company" name="company">
      <label for="date">Date</label>
      <input type="date" id="date" name="date">
      <button id="submit-btn" type="submit">Save</button>
    </form>
    <content class="outline">
      <h1>Applications</h1>
      <hr/>
      <% applications.forEach(app => { %>
        <div class="applications">
          <h2><%= app.position %></h2>
          <h3><%= app.company %></h3>
          <p><%= app.date %></p>
        </div>
      <% }); %> 
    </content>
    <script src="./javascripts/index.js"></script>
  </body>
</html>
