<!DOCTYPE html>
<html>
  <head>
    <title>My Applications</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Dashboard</h1>
      <p>Order By <select>
        <option>Date</option>
        <option>Company</option>
        <option>Position</option>
      </select></p>
      <a href="#" id='create-new-link'>Create New</a>
    </header>
    <form id="new-application-form" class="modal input-form outline" onSubmit="return false">
      <div class="modal-content">
        <span id="exit-new-modal-btn">&times;</span>
        <h1>Create New</h1>
        <hr/>
        <label for="postion">Position</label>
        <input type="text" id="position" name="position">
        <label for="company">Company</label>
        <input type="text" id="company" name="company">
        <label for="date">Date</label>
        <input type="date" id="date" name="date">
        <h2>Notes</h2>
        <textarea id="notes" name="notes"></textarea>
        <h2>Files</h2>
        <fieldset id="file-container">
          <input type="file" id="file-1" name="file-1">
        </fieldset>
        <button id="add-new-file">Add another file</button>
       
        <button id="submit-btn" type="submit">Create</button>
      </div>
    </form>
    <form id="edit-application-form" class="modal input-form outline" onSubmit="return false">
      <div id="edit-modal-content" class="modal-content">
        <span id="exit-edit-modal-btn">&times;</span>
        <h1>Edit</h1>
        <hr/>
        <label for="postion">Position</label>
        <span id="edit-id" class="hidden"></span>
        <input type="text" id="edit-position" name="position">
        <label for="company">Company</label>
        <input type="text" id="edit-company" name="company">
        <label for="date">Date</label>
        <input type="date" id="edit-date" name="date">
        <button id="edit-submit-btn" type="submit">Save</button>
      </div>
    </form>
    <content id="applications-container">
      <div id="flex-container">
        <% applications.forEach(app => { %>
          <div class="applications" data-id="<%= app.id %>">
            <h2><%= app.position %></h2><span class="company">&nbsp;at <%= app.company %></span>
            <p class="date"><%= app.date %><span class="sub-text">&nbsp;Date Applied</span></p>
            <h3>Notes</h3>
            <div class="notes-container"></div>
            <div class="files-container">
              <h3>Files</h3>
              <a href="#">resume_techLead_Amazon.pdf</a>
              <a href="#">cv_techLead_Amazon.pdf</a>
            </div>
            <div class="links-container">
              <h3>Links</h3>
              <a href="#">https://amazon.com/careers/</a>
              <a href="#">https://linkedin.com/hiring-manager/</a>
            </div>
            <button class="delete-application-btn">Delete</button>
            <button id="edit-btn" class="edit-application-btn">Edit</button>
          </div>
        <% }); %> 
      </div>
    </content>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="./javascripts/index.js"></script>
  </body>
</html>
