/* === Globals === */
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {margin: 0;padding: 0;}

h1 {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid rgb(220, 221, 223);
  background: rgb(220, 221, 223);
  margin-bottom: 1em;
}

div.clear {
  clear: right;
}

.outline {
  border: 1px solid rgb(167, 167, 167);
  padding: 2em;
  display: block;
  width: 500px;
  margin: 2em auto;
}

/* === Header === */
header {
  display: grid;
  grid-template-columns: 25fr 25fr 25fr 25fr;
}

/* === Input Forms === */
.hidden {display: none;}
.show {display: block;}
.input-form label,input,button {
  display: block;
}
.input-form input {
  margin-bottom: 1em;
}
.input-form button {
  margin-top: 1em;
}
#create-new-link {
  float: right;
  margin-top: 7px;
  font-size: 12pt;
  text-decoration: none;
}
#create-new-link:hover {
  text-decoration: underline;
}

/* === Applications === */
#flex-container {
  display: flex;
  flex-flow: row wrap;
}
.applications {
  padding: 1em;
  width: 300px;
}
.delete-application-btn {
  border: none;
  color: white;
  background: red;
}
.delete-application-btn:hover {
  background: rgb(180, 0, 0);
}
.edit-application-btn {
  border: none;
  color: white;
  background: rgb(36, 36, 230);
}
.edit-application-btn:hover {
  background: rgb(30, 30, 189);
}

.applications h2 {
  display: inline-block;
  margin: 0;
  font-size: 16pt;
}
.applications .company {
  font-size: 14pt;
}
.applications .date {
  margin: 0;
  font-size: 12pt;
}
.applications .sub-text {
  font-size: 9pt;
  opacity: 80%;
}
.applications .files-container a {
  display: block;
  text-decoration: none;
}
.applications .files-container a:hover {
  text-decoration: underline;
}
.applications .links-container a {
  display: block;
  text-decoration: none;
}
.applications .links-container a:hover {
  text-decoration: underline;
}
